# Core dependencies
networkx>=3.0.0
graphviz>=0.20.1
plantuml-markdown>=3.9.0
pydot>=1.4.2
pygraphviz>=1.10

# Data handling and serialization
pyyaml>=6.0.1
jsonschema>=4.17.3
xmlschema>=2.5.0  # For XMI validation

# Visualization
matplotlib>=3.7.0

# Development
black>=23.1.0
pylint>=2.17.0
pytest>=7.3.1
pytest-cov>=4.0.0
